footer.footer.clearfix
  p.hidden-xs
    | Designed and built by 
    a(href='https://twitter.com/HelicopterPanda' target='_blank')
      | @HelicopterPanda
  
  ul.footer-list
    li.footer-list-item
      a.footer-list-link(href='/about') About
    li.footer-list-item
      a.footer-list-link(href='/faq') FAQ
