extend ../layout

block content
  div(style='margin-bottom: 10px')

  div.container
    div.row
      .col-md-10.col-md-offset-1
        h3 Absent/Late Occurances
        table.table.table-hover
          thead
            tr
              th #
              th Employee ID
              th Late Occurances
          tbody
            each row in results
              tr= row
