extend ../layout

block content
  div(style='margin-bottom: 10px')

  div.container
    div.row
      .col-md-10.col-md-offset-1
        table.table.table-hover
          thead
            tr
              th #
              th First Name
              th Last Name
              th Late Occurances
          tbody
            tr
              th 1
              th John
              th Cena
              th 10
            tr
              th 2
              th Lee
              th Singer
              th 2
            tr
              th 3
              th Donald
              th Trump
              th 99
