extend ../layout

block content
  div(style='margin-bottom: 10px')

  div.container
    div.row
      .col-md-10.col-md-offset-1
        h3 Absent/Late Occurances
        table.table.table-hover
          thead
            tr
              th Meeting ID
              th First Name
              th Last Name
              th Date of Offence
          tbody
            each row in results
              tr
                td #{row.meeting_id}
                td  #{row.first_name}
                td #{row.last_name}
                td  #{row.date}
